body {
    background: linear-gradient(135deg, #f8d7f9, #fce3ec);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form__btn {
    display: block;
    margin: 40px auto 16px;
    padding: 10px 24px;
    background-color: #C5B9B0;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.login-form {
    background-color: white;
    width: 400px;
    padding: 50px 60px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-form__logo {
    font-family: "Hiragino Kaku Gothic Pro", sans-serif;
    font-size: 40px;
    color: #d28de8;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-style: normal;
}

.login-form__title {
    font-size: 20px;
    color: #333;
    font-weight: 500;
    margin-bottom: 30px;
}

.login-form__inner {
    margin-top: 48px;
}
.login-form__form{
    text-align: left;
}

.login-form__group {
    margin-top: 25px;
}
.login-form__label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
    color: #333;
}
.login-form__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 15px;
    box-sizing: border-box;
}

.login-form__error-message {
    color: #FF9494;
    font-size: 13px;
    margin-top: 4px;
    line-height: 1.4;
}
.login-form__btn {
    width: 100%;
    padding: 12px 0;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background: linear-gradient(90deg, #c89ef1, #f09aca);
    margin-top: 10px;
}
.login__link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #3585ff;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
}

.login__link:hover {
    text-decoration: underline;
}