/*  全体を中央に配置 */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    margin: 0;
}

/*  登録フォーム全体 */
.register-form {
    padding: 64px 96px;
    width: 40vw;
    border: 1px solid #C5B9B0;
    border-radius: 8px;
    background-color: #FDFEFE;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*  タイトル・見出し部分 */
.register-form__heading {
    text-align: center;
    margin-top: 24px;
}

/*  フォーム内側 */
.register-form__inner {
    margin-top: 48px;
}

/*  入力グループ */
.register-form__group {
    margin-top: 32px;
}

.register-form__group:first-of-type {
    margin-top: 0;
}

/*  ラベルと入力欄 */
.register-form__label {
    display: block;
    margin-bottom: 8px;
}

.register-form__input {
    display: inline-block;
    padding: 8px 12px;
    width: calc(100% - 40px);
    /* 「kg」を考慮して少し短く */
    height: 48px;
    border: none;
    background-color: #F4F4F4;
    color: #555;
    font-family: serif;
    border-radius: 4px;
    margin-right: 4px;
}

/*  エラーメッセージ */
.register-form__error-message {
    color: #FF9494;
    font-size: 14px;
    margin-top: 4px;
}

/*  送信ボタン */
.register-form__btn {
    display: block;
    margin: 40px auto 0;
    padding: 10px 24px;
    background-color: #C5B9B0;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.register-form__btn:hover {
    background-color: #b2a69e;
}