body {
    font-family: "Hiragino Kaku Gothic Pro", sans-serif;
    background: linear-gradient(135deg, #f8d7f9, #fce3ec);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-form {
    background-color: #fff;
    width: 430px;
    padding: 50px 60px;
    border-radius: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register-form__logo {
    font-size: 40px;
    color: #d28de8;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-style: normal;
}

.register-form__title {
    font-size: 20px;
    color: #333;
    font-weight: 600;
    margin-bottom: 6px;
}

.register-form__step {
    font-size: 14px;
    color: #555;
    margin-bottom: 30px;
}

.register-form__inner {
    margin-top: 48px;
}
.register-form__form {
    text-align: left;
}

.register-form__group {
    margin-top: 32px;
}
.register-form__label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
    color: #333;
}

.register-form__input {
    width: 100%;
    padding: 10px 40px 10px 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 15px;
    box-sizing: border-box;
}
.register-form__unit{
    margin-left: 8px;
    color: #333;
    font-size: 14px;
}

.register-form__error-message {
    color: #e74c3c;
    font-size: 13px;
    margin-top: 4px;
    line-height: 1.4;
}

.register-form__btn {
    width: 100%;
    padding: 12px 0;
    border: none;
    border-radius: 8px;
    background: linear-gradient(90deg, #c89ef1, #f09aca);
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

